/docs/source/_static/
/docs/source/_templates/
/docs/build/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc

# Pickle files
*.pickle
examples/code_block.py
examples/component_load_interaction
examples/compute_total_loads_flowchart
examples/framework_code_block.py
examples/generic_commercial_aircraft_hierarchy.py
examples/xdsm.py
examples/aircraft_simulator_framework
examples/basic_examples/framework_code_block.py
docs/src/examples/x57_advanced_example.ipynb
